@model WebApp.Models.RestaurantViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Statistics</h1>

<div>
    <div><img src="@Model.IconPath" width="128" height="128"/></div>
    <h4>Welcome, @Model.Name</h4>
    <hr/>
    <table>
        <thead>
            <tr>
                <th>
                    <h1>Gross revenue</h1>
                </th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <th><h2>Sales</h2></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h1>CHF @Model.Revenue</h1></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><h2>@Model.Sales</h2></td>
            </tr>
        </tbody>

    </table>

</div>
