@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VSEAT</h1>
    <p>What if your favorite local restaurants were on your doorstep? That is now possible with VSEAT!</p>
    <p>VSEAT gives you access to fast food delivery without losing on the freshness and quality of service of our well known partners</p>
</div>
