@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />

<h5>
    Personal Data Protection Policy
</h5>
<p>
    This policy describes the methods used to collect, store and process your personal data.
    By providing us with personal data, using our website, you consent to our collection and use of your personal data.
    If you do not agree with this policy, do not provide us with any personal data.
    If you have any question on this policy, contact us.
</p>

<h5>
    Scope of application
</h5>
<p>
    This policy applies to customers, couriers, restaurants and guests users of this website.
</p>

<h5>
    Collected Data
</h5>
<p>
    We collect information such as your full name, email address, password,
    delivery details and history, order details and history.
</p>

<h5>
    Use of personal data
</h5>
<p>
    As a strict rule, your personal data is not used for any other purpose than to process your orders and queries.
</p>

<h5>
    Cookies
</h5>
<p>
    Cookies are small text files stored on your hard disk. They are created when you are browsing VSEAT.
    It allows us to personalize your very own experience.
    We only use two cookies on VSEAT current version, one to identify you and another one to prevent forgery usages.
</p>
